@charset "UTF-8"; 

.clear {
	clear: both
}

.clearfix:after, .clearfix:before {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	overflow: hidden
}

a {
	text-decoration: none;
	color: #000
}

a:focus {
	outline: thin dotted #000;
	outline: .5rem auto -webkit-focus-ring-color;
	outline-offset: -.2rem
}

a:active, a:hover {
	outline: 0
}

a:visited {
	color: #000
}

.translateY-center {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%)
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show
}

.hide {
	display: none
}

header.page-title {
	border-bottom: 1px solid #d2d2d2;
	background: #fff
}

.label {
	margin: 1.6rem .6rem .7rem 1rem;
	display: block
}

.label li {
	width: auto;
	height: 2.6rem;
	line-height: 2.6rem;
	padding: 0 1rem;
	margin: .2rem;
	float: left;
	border: 1px solid #d2d2d2;
	color: #5a5a5a;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem
}

.label li.fill {
	border: 1px solid #dc1e32;
	color: #dc1e32
}

.page-evaluate {
	background: #fff
}

.page-evaluate .evaluate-banner {
	width: 100%;
	height: 9rem;
	background: url(img/evaluate-banner-bg.png) 0 0 no-repeat;
	background-size: 100% auto
}

.page-evaluate .evaluate-banner .sfer-box {
	margin: 1.8rem 0 0 1.5rem;
	float: left
}

.page-evaluate .evaluate-banner .sfer-box dt {
	float: left
}

.page-evaluate .evaluate-banner .sfer-box dt img {
	width: 5rem;
	height: 5rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: .2rem solid #fff;
	display: inline-block
}

.page-evaluate .evaluate-banner .sfer-box dd {
	margin-left: 6.2rem;
	padding-top: .5rem
}

.page-evaluate .evaluate-banner .sfer-box dd h3 {
	height: 2.4rem;
	line-height: 2.4rem;
	font-size: 1.6rem
}

.page-evaluate .evaluate-banner .sfer-box dd .star-box {
	height: 2rem;
	float: left
}

.page-evaluate .evaluate-banner .sfer-box dd .star-box .star {
	width: 5.6rem;
	height: 1rem;
	margin: .5rem 0;
	background: url(img/sfer-star.png) 0 100% no-repeat;
	background-size: 100% 200%;
	float: left
}

.page-evaluate .evaluate-banner .sfer-box dd .star-box .star i {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	background: url(img/sfer-star.png) 0 0 no-repeat;
	background-size: 5.6rem 2rem
}

.page-evaluate .evaluate-banner .sfer-box dd .star-box .text {
	width: auto;
	line-height: 2rem;
	margin-left: .7rem;
	display: block;
	float: left;
	font-size: 1.2rem
}

.page-evaluate .evaluate-banner .url {
	width: 7rem;
	height: 3rem;
	line-height: 3rem;
	margin: 2.8rem 1.5rem 0 0;
	-webkit-border-radius: 1.5rem;
	-moz-border-radius: 1.5rem;
	border-radius: 1.5rem;
	-webkit-box-shadow: 0 .15rem .5rem 0 rgba(220, 30, 50, .1);
	-moz-box-shadow: 0 .15rem .5rem 0 rgba(220, 30, 50, .1);
	box-shadow: 0 .15rem .5rem 0 rgba(220, 30, 50, .1);
	font-size: 1.2rem;
	color: #dc1e32;
	background: #fff;
	display: inline-block;
	text-align: center;
	float: right
}

.page-evaluate .evaluate-banner .url.iconfont {
	width: 3rem;
	font-size: 1.6rem
}

.page-evaluate .waybill {
	height: 4.2rem;
	line-height: 4.2rem;
	margin: 0 1.5rem;
	color: #333;
	border-bottom: 1px dashed #d9d9d9
}

.page-evaluate .waybill .number {
	margin: 0 .4rem 0 0;
	float: left;
	font-size: 1.1rem
}

.page-evaluate .waybill .address {
	float: right;
	font-size: 1.2rem
}

.page-evaluate .waybill .address p {
	max-width: 5.4rem;
	float: left
}

.page-evaluate .waybill .address i {
	width: 1.8rem;
	height: 1.2rem;
	margin: 1.5rem .5rem;
	float: left;
	display: inline-block
}

.page-evaluate .waybill .address i:before {
	content: "";
	width: 100%;
	height: .1rem;
	position: absolute;
	top: 50%;
	left: 0;
	background: #333
}

.page-evaluate .waybill .address i:after {
	content: "";
	width: .7rem;
	height: .1rem;
	position: absolute;
	top: .35rem;
	right: -.1rem;
	background: #333;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg)
}

.page-evaluate figure.sfer-style {
	margin: 2rem auto;
	position: relative;
	bottom: auto !important
}

.page-evaluate figure.sfer-style .star-box .star {
	background-position-y: 100%
}

.page-evaluate figure.sfer-style .star-box .star i {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	background: url(img/sfer-star.png) 0 0 no-repeat;
	background-size: 5.6rem 2rem
}

.page-evaluate .evaluate {
	padding-top: 3rem;
	text-align: center
}

.page-evaluate .evaluate .title {
	width: auto;
	padding: 0 1.5rem;
	margin: 0 auto;
	position: relative;
	text-align: center;
	display: inline-block
}

.page-evaluate .evaluate .title:before {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	background: #d1d1d1
}

.page-evaluate .evaluate .title span {
	width: auto;
	padding: 0 .8rem;
	background: #fff;
	color: #595959;
	display: inline-block;
	font-size: 1.3rem;
	position: relative;
	z-index: 1
}

.page-evaluate .evaluate .box {
	margin: .1rem auto;
	display: inline-block
}

.page-evaluate .evaluate .box li {
	width: 4.1rem;
	height: 4.1rem;
	float: left;
	font-size: 0;
	background: url(img/icon-evaluate.png) 0 0 no-repeat;
	background-size: 4.1rem
}

.page-evaluate .evaluate .box li.fill {
	background-position: 0 -4.1rem
}

.page-evaluate .evaluate .hint {
	line-height: 2.8rem;
	font-size: 1.2rem;
	color: #dc1e32;
	display: block
}

.page-evaluate .evaluate .textarea-container {
	position: relative
}

.page-evaluate .evaluate .textarea-container .textarea {
	width: 87%;
	height: 5.2rem;
	line-height: 1.6rem;
	margin: 0 auto 3rem;
	padding: .5rem .8rem;
	border: 1px solid #e6e6e6;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
	resize: none;
	font-size: 1.2rem;
	display: block
}

.page-evaluate .evaluate .textarea-container p.textarea {
	height: auto;
	border: 1px solid #f2f2f2;
	text-align: left;
	background: #f2f2f2;
	color: #5a5a5a;
	word-break: break-all
}

.page-evaluate .evaluate .textarea-container .wordwrap {
	position: absolute;
	right: 1.2rem;
	bottom: -2rem;
	color: #b9b9b9
}

.page-evaluate .buttom-placeholder {
	height: 4.5rem;
	font-size: 0
}

.page-evaluate .login-btn {
	top: auto;
	bottom: 0;
	z-index: 1
}

.page-evaluate .login-btn button {
	width: 100%;
	margin: 0 auto;
	line-height: 4.5rem;
	font-size: 1.7rem;
	background: #dc1e32;
	color: #fff
}

.page-evaluate .login-btn button:focus {
	background: #a40000
}

.page-evaluate .login-btn.gray button {
	background: #bfbfbf
}

.page-acknowledge {
	background: #f7f7f7
}

.page-acknowledge .acknowledge-title {
	margin-left: 1rem;
	padding: 1rem 0 1.1rem;
	border-bottom: 1px solid #e5e5e5;
	position: relative
}

.page-acknowledge .acknowledge-title h2 {
	line-height: 2.2rem;
	padding-left: 2rem;
	font-size: 1.4rem;
	background: url(img/acknowledge-icon.png) 0 0 no-repeat;
	background-size: 2.2rem auto
}

.page-acknowledge .acknowledge-title h2.icon-2 {
	background-position: 0 -2.2rem
}

.page-acknowledge .acknowledge-title p {
	line-height: 1.6rem;
	font-size: 1.1rem;
	color: #999
}

.page-acknowledge .acknowledge-title .box {
	display: inline-block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	right: .7rem
}

.page-acknowledge .acknowledge-title .box li {
	width: 2.2rem;
	height: 2.7rem;
	float: left;
	font-size: 0;
	background: url(img/icon-evaluate.png) -.25rem 0 no-repeat;
	background-size: 2.7rem
}

.page-acknowledge .acknowledge-title .box li.fill {
	background-position: -.25rem -2.7rem
}

{
	background: #fff
}

.acknowledge-li {
	margin: 0 1rem
}

.acknowledge-li a {
	width: 25%;
	padding: 1rem 0;
	float: left;
	text-align: center
}

.acknowledge-li a .img {
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
	display: inline-block;
	font-size: 0;
	position: relative
}

 .acknowledge-li a .img img {
	width: 4rem;
	height: 4rem
}

 .acknowledge-li a p {
	height: 2rem;
	line-height: 2rem;
	font-size: 1.1rem
}

.acknowledge-li a i {
	width: 4.6rem;
	height: 1.9rem;
	line-height: 1.9rem;
	margin: .2rem auto;
	border: 1px solid #dc1e32;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
	text-align: center;
	color: #dc1e32;
	display: inline-block
}

.acknowledge-other {
	width: 100%;
	padding-bottom: .6rem;
	text-align: center;
	display: inline-block
}

.acknowledge-other h3 {
	line-height: 2.5rem;
	font-size: 1.2rem;
	color: #dc1e32
}

.acknowledge-other p {
	line-height: 1.7rem;
	font-size: 1rem;
	color: #a7aaac
}

.acknowledge-result {
	padding: 1.7rem 0 .8rem;
	text-align: center
}

.acknowledge-result img {
	width: 10rem;
	height: 6rem;
	display: inline-block
}

.acknowledge-result p {
	line-height: 2.6rem;
	font-size: 1.2rem
}

.page-acknowledge .evaluate-box {
	margin-top: 1rem;
	background: #fff
}

.page-acknowledge .evaluate-box .evaluate-con {
	margin: .3rem 0 .8rem
}

.page-acknowledge .evaluate-box .evaluate-con p {
	line-height: 2.4rem;
	margin-left: 1rem;
	font-size: 1.2rem
}

.page-acknowledge .evaluate-box .evaluate-con .label {
	margin: 0 .8rem
}

.dialog-acknowledge-other {
	background: rgba(0, 0, 0, .7);
	z-index: 2
}

.dialog-acknowledge-other .detail {
	width: 82%;
	background: #fff;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	border-radius: .5rem;
	overflow: hidden;
	z-index: 3
}

.dialog-acknowledge-other .detail .content {
	padding: 2.3rem 0 1rem;
	text-align: center
}

.dialog-acknowledge-other .detail .content img {
	width: 12rem;
	height: 7rem;
	display: inline-block
}

.dialog-acknowledge-other .detail .content h3 {
	line-height: 3rem;
	font-size: 1.5rem
}

.dialog-acknowledge-other .detail .content .input-box {
	height: 3.6rem;
	margin: 0 2rem;
	border-bottom: 1px solid #d9d9d9
}

.dialog-acknowledge-other .detail .content .input-box span {
	height: 3.6rem;
	line-height: 3.6rem;
	font-size: 1.8rem;
	display: inline-block
}

.dialog-acknowledge-other .detail .content .input-box input {
	width: 8rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0;
	padding: 0 .6rem;
	border: 0;
	font-size: 1.8rem;
	text-align: center;
	display: inline-block
}

.dialog-acknowledge-other .detail .content .pay-failure-buttom {
	width: 92%;
	line-height: 4.4rem;
	margin: 2rem auto 0
}

.dialog-acknowledge-other .close {
	width: 3.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
	text-align: center;
	font-size: 0;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1
}

.dialog-acknowledge-other .close:after, .dialog-acknowledge-other .close:before
	{
	content: "";
	width: .1rem;
	height: 2rem;
	background: #5c5c5c;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-moz-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg)
}

.dialog-acknowledge-other .close:before {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-moz-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg)
}
/*# sourceMappingURL=evaluate-1.css.map */