@charset "utf-8";

/*清楚iphone中按钮等默认样式*/
input[type="button"], input[type="submit"], input[type="reset"],button {

-webkit-appearance: none;
border-radius: 0;

}

textarea {  -webkit-appearance: none;}  

:focus{
	outline: none;
}
/*基本样式*/


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	/*font-size:100%;*/
	vertical-align:baseline
}

html{
	line-height:1
}

ol,ul{
	list-style:none
}

table{
	border-collapse:collapse;
	border-spacing:0
}

caption,th,td{
	font-weight:normal;
	vertical-align:middle
}

q,blockquote{
	quotes:none
}

q:before,q:after,blockquote:before,blockquote:after{
	content:"";
	content:none
}

a img{
	border:none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{
	display:block
}

html{
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	font-family:"微软雅黑",Helvetica,"STHeiti STXihei","Microsoft JhengHei","Microsoft YaHei",Tohoma,Arial
}

body{
	color:#333;
	background-color:#eee;
	-webkit-backface-visibility:hidden
}

body.body-fixed-bottom{
	padding-bottom:40px
}

.container{
	background-color:#f8f8f8
}

strong{
	font-weight:bold
}

a{
	color:#333;
	background:transparent;
	text-decoration:none
}

h1{
	font-size:2em;
	margin:0.67em 0
}

h2{
	font-size:18px;
	line-height:22px
}

h3{
	font-size:15px;
	line-height:18px
}

button,input[type='number'],input[type='text'],input[type='password'],input[type='email'],input[type='search'],select,textarea{
	font-family:inherit;
	/*font-size:100%;*/
	margin:0;
	-webkit-tap-highlight-color:transparent;
	-webkit-appearance:none;
	-moz-appearance:none
}

.c-orange{
	color:#f60 !important
}

.c-orange-dark{
	color:#f15a0c !important
}

.c-green{
	color:#06bf04 !important
}

.c-red{
	color:#ed5050 !important
}

.c-pink{
	color:#ee614b !important
}

.c-white{
	color:#fff !important
}

.c-gray-light{
	color:#e5e5e5 !important
}

.c-gray{
	color:#c9c9c9 !important
}

.c-gray-dark{
	color:#999 !important
}

.c-gray-darker{
	color:#666 !important
}

.c-black{
	color:#333 !important
}

.c-yellow{
	color:#f09000 !important
}

.c-light-yellow{
	color:#fcff00 !important
}

.c-blue{
	color:#00a0f8 !important
}

.c-light-green{
	color:#2ecc71 !important
}

.c-black{
	color:#333 !important
}

hr{
	margin:10px 0;
	border:0px none;
	border-top:2px solid #e5e5e5
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min-device-pixel-ratio: 1.5){
	hr{
		border-top-width:1px;
	}

}

hr.margin-0{
	margin:0
}

hr.left-10{
	margin-left:10px
}

.relative{
	position:relative
}

.font-size-12{
	font-size:12px !important
}

.font-size-14{
	font-size:14px !important
}

.font-size-16{
	font-size:16px !important
}

.font-size-18{
	font-size:18px !important
}

.font-size-20{
	font-size:20px !important
}

.font-size-22{
	font-size:22px !important
}

.font-size-24{
	font-size:24px !important
}

.font-size-26{
	font-size:26px !important
}

.font-size-28{
	font-size:28px !important
}

.ellipsis{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

.border-bottom-none{
	border-bottom:0px none !important
}

.border-top-none{
	border-top:0px none !important
}

.link{
	color:#07d
}

.link:link,.link:hover,.link:visited,.link:active{
	color:#07d
}

.clearfix{
	zoom:1
}

.clearfix:after{
	content:"";
	display:table;
	clear:both
}

.pull-left{
	float:left
}

.pull-right{
	float:right
}

.show{
	display:block
}

.hide{
	display:none !important;
	visibility:hidden
}

.center,.text-center{
	text-align:center
}

.text-left{
	text-align:left
}

.text-right{
	text-align:right
}

.loading{
	background-image:url("/v2/image/loader.gif") !important;
	background-repeat:no-repeat !important;
	background-position:center center !important;
	background-size:16px 16px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min-device-pixel-ratio: 1.5){
	
}

.with-bs-top,.with-bs-bottom{
	background-size:100% 1px
}

.with-bs-bottom{
	background-position:left bottom
}

.arrow-right::after{
	content:'';
	position:absolute;
	width:7px;
	height:7px;
	border-top:2px solid #cbc9cc;
	border-right:2px solid #cbc9cc;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	top:50%;
	right:3px;
	margin-top:-5px
}

.wrapper{
	width:320px;
	margin:0 auto
}

.content{
	margin:0 auto
}

.container .content{
	zoom:1
}

.container .content:after{
	content:"";
	display:table;
	clear:both
}

.copyright{
	background-color:#f8f8f8;
	color:#999;
	font-size:12px;
	line-height:16px;
	text-align:center
}

.copyright .ft-links{
	padding:15px;
	text-align:center
}

.copyright .ft-links>a{
	margin:0 6px;
	color:#333
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min-device-pixel-ratio: 1.5){
	.copyright .ft-links ~ .ft-copyright{
		border-top-width:1px;
	}

}

.copyright .ft-copyright{
	padding:50px 0 20px;
	margin:0 15px;
	text-align:center;
	font-size:12px;
	background-size:73px 24px
}

.copyright .ft-copyright>a{
	padding-top:45px;
	color:#ccc
}

.copyright .ft-copyright:first-child{
	margin-top:0px
}

.footer{
	margin:0;
	padding:0;
	min-height:1px;
	text-align:center;
	line-height:16px;
	background-color:#f8f8f8
}

.footer .link-icon{
	display:inline-block;
	width:16px;
	height:16px;
	margin-bottom:-3px;
	margin-right:10px;
	background-repeat:no-repeat;
	background-size:16px
}

.footer .link-title{
	font-size:16px
}

.full-screen .footer{
	margin-top:0
}

.footer-weixiaodian{
	position:fixed;
	bottom:0;
	width:100%;
	z-index:100
}

.footer-weixiaodian .footer-weixiaodian-download-link{
	display:block;
	width:100%;
	height:60px;
	background-size:cover
}

.footer-weixiaodian .footer-weixiaodian-close{
	position:absolute;
	display:block;
	right:0px;
	top:0px;
	width:40px;
	height:40px;
	background:transparent
}

@media (min-width: 360px){
	.footer-weixiaodian .footer-weixiaodian-download-link{
		height:67.5px
	}

}

@media (min-width: 375px){
	.footer-weixiaodian .footer-weixiaodian-download-link{
		height:70.3125px
	}

}

@media (min-width: 414px){
	.footer-weixiaodian .footer-weixiaodian-download-link{
		height:77.625px
	}

}

@media (min-width: 540px){
	.footer-weixiaodian{
		display:none
	}

}

.btn{
	display:inline-block;
	background-color:#fff;
	border:1px solid #e5e5e5;
	border-radius:3px;
	padding:4px;
	text-align:center;
	margin:0;
	color:#999;
	font-size:12px;
	cursor:pointer;
	line-height:18px;
	-webkit-appearance:none
}

.btn:hover{
	color:#999
}

.btn:active{
	background-color:#e9e9e9;
	color:#999
}

.btn.disabled,.btn[disabled]{
	background-color:#c9c9c9 !important;
	background-image:none !important;
	border:1px solid transparent !important;
	color:#fff !important
}

.btn.disabled:active,.btn[disabled]:active{
	background-color:#c9c9c9 !important;
	background-image:none !important;
	border:1px solid #bcbcbc !important
}

.btn.btn-blue{
	color:#fff;
	background-color:#00a0f8;
	border-color:#00a0f8
}

.btn.btn-gray-dark{
	color:#333;
	background-color:#999;
	border-color:#999
}

.btn.btn-green{
	color:#fff;
	background-color:#06bf04;
	border-color:#03b401
}

.btn.btn-red{
	color:#fff;
	background-color:#ed5050;
	border-color:#b93232
}

.btn.btn-pink{
	color:#fff;
	background-color:#ee614b;
	border-color:#ee614b
}

.btn.btn-white{
	color:#333;
	background-color:#fff;
	border-color:#e5e5e5
}

.btn.btn-yellow{
	color:#fff;
	background-color:#f09000;
	border-color:#f09000
}

.btn.btn-grayeee{
	color:#999;
	background-color:#eee;
	border-color:1px solid #ebebeb
}

.btn.btn-orange{
	color:#fff;
	border-color:#f60;
	background-color:#f60
}

.btn.btn-orange-dark{
	color:#fff;
	border-color:#f15a0c;
	background-color:#f15a0c
}

.btn.btn-block{
	text-align:center;
	width:100%;
	padding:11px 10px;
	font-size:16px;
	line-height:16px;
	border-radius:4px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

.btn.btn-xsmall{
	padding:8px 10px;
	line-height:14px;
	width:auto;
	font-size:12px
}

.btn.btn-xxsmall{
	padding:4px 10px;
	line-height:14px;
	width:auto;
	font-size:12px
}

.btn.btn-l{
	padding:9px 4px;
	font-size:14px
}

.btn.btn-opt{
	min-width:50px
}

a#global-cart{
	z-index:10;
	display:block
}

a#global-cart .icon-img{
	background-position:-202px -4px;
	background-size:300px 150px
}

a#global-cart.hide{
	display:none
}

a#global-cart.new .icon-img{
	background-position:-250px -4px
}

.no-text a#global-cart{
	background-size:300px 150px
}

.no-text a#global-cart.s0{
	background-position:-200px -100px
}

.no-text a#global-cart.s1{
	background-position:-150px -100px
}

.no-text a#global-cart.s2{
	background-position:-100px -100px
}

.no-text a#global-cart.s3{
	background-position:-50px -100px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min-device-pixel-ratio: 1.5){
	a#global-cart .icon-img{
		background-position:-200px -7px;
	}

	a#global-cart.new .icon-img{
		background-position:-250px -7px
	}

	.no-text a#global-cart{
	}

}

.fixed-icon{
	height:50px;
	width:50px;
	border-radius:26px;
	position:fixed;
	bottom:52px;
	right:6px;
	z-index:10;
	cursor:pointer
}

.ds-btn{
	bottom:115px
}

.ds-btn .icon-img{
	height:100%;
	background-repeat:no-repeat;
	background-size:300px 150px;
	background-position:0 -100px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min-device-pixel-ratio: 1.5){
	

}

a#global-wish{
	z-index:10;
	display:block
}

a#global-wish .icon-img{
	background-position:-2px -4px;
	background-size:300px 150px
}

a#global-wish.hide{
	display:none
}

a#global-wish.new .icon-img{
	background-position:-45px -7px
}

.no-text a#global-wish{
	background-position:-150px -50px;
	background-size:300px 150px
}

.no-text a#global-wish.new{
	background-position:-200px -50px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min-device-pixel-ratio: 1.5){
	a#global-wish .icon-img{
		background-position:3px -7px
	}


}

#right-icon{
	height:50px;
	width:50px;
	border-radius:26px;
	border:1px solid #e1e1e1;
	position:fixed;
	bottom:52px;
	right:6px;
	z-index:10;
	overflow:hidden;
	-webkit-transition:width ease-in-out .3s;
	-moz-transition:width ease-in-out .3s;
	transition:width ease-in-out .3s;
	background-color:white;
	background-clip:padding-box
}

#right-icon .right-icon-container{
	position:absolute;
	height:50px;
	right:0px;
	top:0px
}

#right-icon .icon{
	float:left;
	width:50px;
	height:50px
}

#right-icon .show-more-btn{
	background-repeat:no-repeat;
	background-size:300px 150px;
	background-position:1px -50px
}

#right-icon .show-more-btn.new{
	background-position:-99px -50px
}

#right-icon .icon-img{
	height:32px
}

#right-icon .icon-txt{
	line-height:18px;
	font-size:12px;
	text-align:center;
	color:#9f9f9f
}

#right-icon.show{
	padding-left:12px
}

#right-icon.show .show-more-btn{
	background-position:-49px -50px
}

#right-icon.no-text{
	border:0px none;
	background-color:transparent
}

#right-icon.no-text .icon-txt,#right-icon.no-text .icon-img{
	display:none
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min-device-pixel-ratio: 1.5){
	

}

.motify{
	display:none;
	position:fixed;
	top:35%;
	left:50%;
	width:220px;
	padding:0;
	margin:0 0 0 -110px;
	z-index:9999;
	background:rgba(0,0,0,0.8);
	color:#fff;
	font-size:14px;
	line-height:1.5em;
	border-radius:6px;
	-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.2);
	box-shadow:0px 1px 2px rgba(0,0,0,0.2)
}

.motify .motify-inner{
	padding:10px 10px;
	text-align:center;
	word-wrap:break-word
}

.motify p{
	margin:0 0 5px
}

.motify p:last-of-type{
	margin-bottom:0
}

.fullscreen-guide{
	z-index:2000;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.9);
	text-align:center
}

.fullscreen-guide.hide{
	display:none
}

.fullscreen-guide .guide-close{
	position:absolute;
	top:0px;
	left:10px;
	font-size:40px;
	color:#fff;
	cursor:pointer
}

.fullscreen-guide .guide-arrow{
	position:absolute;
	top:2px;
	right:15px;
	width:47px;
	height:44px
}

.fullscreen-guide .guide-inner{
	padding-top:48px;
	width:320px;
	margin:0 auto
}

.fullscreen-guide .step{
	width:260px;
	display:inline-block;
	text-align:left;
	margin-bottom:15px
}

.follow-guide .guide-inner-title{
	color:#FFF;
	border-bottom:1px solid #CCC;
	margin:10px;
	padding-bottom:30px;
	font-size:18px;
	font-weight:normal
}

.follow-guide .step-2{
	margin-bottom:10px
}

.follow-guide .wxid{
	width:260px;
	display:inline-block;
	text-align:left;
	margin-bottom:25px
}

.follow-guide .step-1,.follow-guide .step-2,.follow-guide .step-3{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.follow-guide .wxid{
	padding-left:65px;
	font-size:18px
}

.follow-guide .wxid strong{
	padding:1px 5px;
	background-color:#fff;
	color:#000;
	border-radius:4px
}

.follow-guide .step-1{
	height:29px
}

.follow-guide .step-2{
	height:64px;
}

.follow-guide .step-3{
	margin-top:10px;
	height:68px;
}

.follow-guide .quick-subscribe{
	margin:140px 15px 0 15px;
	padding:10px;
	background:#fff;
	border:2px solid #f2f2f2;
	border-radius:10px
}

.follow-guide .quick-subscribe h2{
	font-size:14px;
	border-bottom:1px solid #f2f2f2;
	padding-bottom:20px;
	margin:12px 0
}

.follow-guide .quick-subscribe .btn{
	font-size:14px;
	background:#44bb00;
	color:#fff;
	display:inline-block;
	line-height:38px;
	padding:0 26px;
	border-radius:4px
}

.fuck-taobao .step-1{
	height:29px;
}

.fuck-taobao .step-2{
	height:86px;
}

.fuck-taobao .step-and-2{
	height:62px;
}

.fav-guide .step-1{
	height:29px;
}

.fav-guide .step-2{
	height:86px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min-device-pixel-ratio: 1.5){
	.fullscreen-guide .guide-arrow{
		background-size:47px 44px
	}

	.follow-guide .step-2{
		background-size:260px 64px
	}

	.follow-guide .step-3{
		background-size:260px 68px
	}

	.fuck-taobao .step-1{
		background-size:260px 29px
	}

	.fuck-taobao .step-2{
		background-size:248px 86px
	}

	.fuck-taobao .step-and-2{
		background-size:260px 62px
	}

	.fav-guide .step-1{
		background-size:260px 29px
	}

	.fav-guide .step-2{
		background-size:260px 86px
	}

	.share-guide .step-1{
		background-size:260px 29px
	}

	.share-guide .step-2{
		background-size:260px 86px
	}

}

.common-error-tips{
	padding:5px;
	background:#fff
}

.common-error-tips p{
	line-height:28px;
	padding-right:53px;
	word-break:break-all
}

.common-error-tips a{
	margin-left:5px;
	padding:4px 7px
}

.tlbs,.ts-width,.ts-height{
	display:none !important
}

@media screen and (min-width:640px){
	html{
		font-size:16px;
	}
}
@media screen and (max-width:640px){
	html{
		font-size:16px;
	}
}

@media screen and (max-width:414px){
	html{
		font-size:10px;
	}
}

@media screen and (max-width:375px){
	html{
		font-size:9px;
	}
}
@media screen and (max-width:320px){
	html{
		font-size:8px;
	}
}

.fixed-bolck{
	position: fixed;
}
