body{
    background-image: url("body_bg.png");
    background-repeat: no-repeat;
    background-size:100%;
    
}

.content{
	text-align: center;
	margin-top: 100px;
}

.footer{
    width: 100%;
	text-align:center;
   	margin-top:100px;
}

